    yeeeeeeeeeeaaaaaaaaahhhhhhhhhh

    {{ tasks }}

    <ul>
        タスク一覧
        {% for task in tasks %}
            <li>{{ task.title }}
            {{ task.due_date }}</li>
        {% endfor %}
    </ul>

    <ul>
        未達成タスク一覧
        {% for task in tasks %}
            {% if task.done_date %}
                <li>{{ task }}(だん)</li>
            {% elif task.due_date < now %}
                <li>{{ task }}(期限切れ)</li>
            {% else %}
                <li>{{ task }}(まだきげん)</li>
            {% endif %}
        {% endfor %}
    </ul>
    
    <ul>
        きげんぎれ
        {% for task in tasks %}
            {% if task.due_date < now %}
                <li>{{ task }}</li>
            {% endif %}
        {% endfor %}
    </ul>

    <ul>
    だんしたやつ
        {% for task in tasks %}
            {% if task.done_date  %}
                <li>{{ task }}</li>
            {% endif %}
        {% endfor %}
    </li>
